<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/common.css">
    <style>
        button {
            width: 100px;
            height: 40px;
            border-style: none;
            border-radius: 5px;
            background-color: #748B6F;
            color: white;
            font-weight: bold;
        }
    </style>
</head>
<body>
<h1>바우처 프로그램</h1>
<div>
    <button style="margin-top:10px;" onclick="location.href='/view/customer/'">고객</button>
    <button onclick="location.href='/view/voucher/'">바우처</button>
    <button onclick="location.href='/view/wallet/'">바우처 지갑</button>
</div>
</body>
</html>
